#
# host_ip: The host where to be test
# test_build: The rhvh test build
# test_profile: The test scenario in the test_scen.py file
#

{
    "host_ip": "10.66.148.7",
    "test_build": "redhat-virtualization-host-4.1-20170616.0",
    "test_profile": "v41_debug_tier"
}
